# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
.env/

# Data
data/
fake_large/
*.pt        # fichiers PyTorch

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

best_model.pt
best_model_wl.pt
best_deepfake_detector.pt